# Types

## Strings

Strings are text representation in a programmin language.

In [ ]:
# strings can be assigned with single, double, and triple quotes
full_name = 'Joseph Wu'

In [ ]:
full_name = "Joseph Wu"

In [2]:
full_name = """Joseph Wu"""

In [5]:
# Triple quotes are useful when having quotes within a string
summary = """Triple quotes are useful when you have a ' or a " withing a string"""
print(summary)

Triple quotes are useful when you have a ' or a " withing a string

In [6]:
# Use single quotes when you have double quotes in a string
summary = 'Use single quotes when there is a " is your string'
print(summary)
print("And use double quotes when you have ' in your string")

Use single quotes when there is a " is your string
And use double quotes when you have ' in your string

In [8]:
# string support adding to other strings to compose text
name = "Joseph"
result = "this lesson is brought to you by " + name
print(result)

this lesson is brought to you by Joseph

In [ ]:
# use f-strings to repace variables in a string
result = f"{name} is teaching f-strings"
print(result)

## Integers

Integers are *always* whole numbers and support numerical representation

In [14]:
#use type() to discover what the type is if you don't know it
type(15)

int

In [15]:
# integers support mathmatical operations
14/7

2.0

In [16]:
# watchout for invalid operations
7/0

ZeroDivisionError: division by zero

In [17]:
# as with all other types, watch out when mixing unsupported types
7 + "14"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
# types can change depending on operations
result = 3/2
print(result)
type(result)

1.5

float

## Floats

Similar to integers but include decimals

In [19]:
type(14.3)

float

In [20]:
311/99

3.1414141414141414

## Booleans

Represented in Python using __True__ and __False__. Other types ca also represent true or false like 1 and 0.

In [21]:
type(True)

bool

In [22]:
# truthy values can be converted to booleans with the 'bool()' built-in
first_result = bool(1)
second_result = bool(0)
print(first_result)
print(second_result)

True
False

## None

None indicates a Null value. Its type is NoneType.

In [23]:
type(None)

NoneType